target/
.idea
!.mvn/wrapper/maven-wrapper.jar
log/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.log
LOG_HOME_IS_UNDEFINED/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.mvn
*.log
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/dappapi.iml
**/*/*.gz
